#itemnumberID {
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

ion-fab {
    margin-bottom: 20px;
    margin-right: 20px;
}

.fontFamily {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .inputClass {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;
  }


  ion-title {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .kiloButton {
    width: 58px;
  }
