ion-title {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.categoryName {
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: normal;
}