<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Tapsy Locksmith</ion-list-header>
          <ion-note>Holland Park West</ion-note>

          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" src={{p.icon}}></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle> -->

        <div *ngFor="let p of appPages">
          <ion-menu-toggle *ngIf="p.url" auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
              <ion-icon src={{p.icon}} slot="start"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>

          <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.active-parent]="p.open" detail="false" lines="none">
            <ion-label>
              {{p.title}}
            </ion-label>
            <ion-icon slot="start" name="arrow-forward" *ngIf="!p.open"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
            <ion-badge slot="end">{{p.numberofitems}}</ion-badge>
          </ion-item>

          <ion-list *ngIf="p.open">
            <ion-menu-toggle auto-hide="false">
              <ion-item class="sub-item" *ngFor="let sub of p.children" routerDirection="root" [routerLink]="[sub.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon src={{sub.icon}} slot="start"></ion-icon>
                <ion-label>
                  {{sub.title}}
                </ion-label>
              </ion-item>

            </ion-menu-toggle>
          </ion-list>
        </div>

        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>
          <ion-label>{{numberOfCarRemote}}</ion-label>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
