ion-card {
  box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
  border-radius: 15px;
}

img {
  padding: 10px;
}

#lowStockIndicate {
  margin-top: 1rem;
  text-align: center;
}

#remoteheader {
  border-color: #e4e4e494;
  border-style: solid;
  border-radius: 15px;

}

h2 {
  margin-left: 10px;

}

#remotedetails {
  padding-top: 25px;
  padding-right: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
}

lowStockButton {
  border-radius: 15px;
}


#errorContent {
  text-align: center;
  margin-top: 5px;
}

#remoteDetails {
  padding-left: 5px;
  padding-right: 5px;
}

.detailtitles{
  font-family: rucksack,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.remotedetails {
  font-family: rucksack,sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ff4961;
  font-size: 30px;
}

.remotetypebox {
  color: #7049ff;
}

.remotetypebox::content {
  margin-top: auto;
  margin-bottom: auto;
  font-family: rucksack,sans-serif;
  font-weight: 700;
  font-style: normal;
}


.primarytext {
  font-family: futura-pt,sans-serif;
font-weight: 700;
font-style: normal;

}


.fontsize {
  font-size: 30px;
}
