ion-card {
  box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
  border-radius: 15px;
  text-align: left;
}

#boxNumber {
  font-size: 20px;
}

ion-chip {
  display: flex;
  margin-top: 20px;
  width: 50%;
  justify-content: center;
}


.primarytext {
  font-family: futura-pt,sans-serif;
font-weight: 700;
font-style: normal;

}


.fontsize {
  font-size: 30px;
}

.fabbutton {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: end;
}

.imageColoum {
  text-align: end;
}
