ion-title {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  ion-button {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;
  }